<!DOCTYPE html>
<html ng-app="testApp">
<head lang="en">
    <meta charset="UTF-8">
    <title>Hello Murad</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
    <script>
        <%- data %>;
        var arr = [];
        for (var key in data) {
            var obj = data[key];
            arr.push({
                url: key,
                shortened_url: key.substr(0, 40),
                min: obj.min,
                avg: obj.avg,
                max: obj.max,
                last: obj.last,
                count: obj.count,
                date: obj.date
            });
        }
        data = arr;

        var testApp = angular.module('testApp', []);

        testApp.controller('tableCtrl', function ($scope) {
            $scope.data = data;
            $scope.sum = function (param) {
                var sum = 0;
                for (var i = 0; i < data.length; i++) {
                    sum += data[i][param];
                }
                return sum;
            };
            $scope.avg = function (param) {
                return Math.round($scope.sum(param) / $scope.data.length);
            };
        });</script>
</head>
<body>
<div style="margin-left:50px">
    <a href="/stat/network-errors/api-server">/stat/network-errors/api-server</a><br>
    <a href="/stat/network-errors">/stat/network-errors</a><br>
    <a href="/stat/parsing-durations">/stat/parsing-durations</a><br>
    <a href="/stat/request-durations">/stat/request-durations</a>
</div>
<br>
<table ng-controller="tableCtrl" border="1" style="margin-left:50px">
    <tr>
        <th>url</th>
        <th>year</th>
        <th>month</th>
        <th>day</th>
        <th>time</th>
        <th><a ng-click="orderByField='min'; reverseSort = !reverseSort">min</a></th>
        <th><a ng-click="orderByField='avg'; reverseSort = !reverseSort">avg</a></th>
        <th><a ng-click="orderByField='max'; reverseSort = !reverseSort">max</a></th>
        <th><a ng-click="orderByField='last'; reverseSort = !reverseSort">last</a></th>
        <th><a ng-click="orderByField='count'; reverseSort = !reverseSort">count</a></th>
    </tr>
    <tr ng-repeat="duration in data | orderBy:orderByField:reverseSort">
        <td><a href="{{duration.url}}" target="_blank">{{duration.shortened_url}}</a></td>
        <td>{{duration.date | date:'yyyy'}}</td>
        <td>{{duration.date | date:'MMMM'}}</td>
        <td>{{duration.date | date:'dd'}}</td>
        <td>{{duration.date | date:'hh:mm:ss'}}</td>
        <td>{{duration.min}}</td>
        <td>{{duration.avg}}</td>
        <td>{{duration.max}}</td>
        <td>{{duration.last}}</td>
        <td>{{duration.count}}</td>
    </tr>
    <tr>
        <td>Averages</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>{{avg("min")}}</td>
        <td>{{avg("avg")}}</td>
        <td>{{avg("max")}}</td>
        <td>{{avg("last")}}</td>
        <td></td>
    </tr>
</table>
</body>
</html>