<!DOCTYPE html>
<html ng-app="testApp">
<head lang="en">
    <meta charset="UTF-8">
    <title>Hello Murad</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
    <script>
        <%- data %>;
        var arr = [];
        for (var url in data) {
            var errors = data[url];
            for (var error in errors) {
                arr.push({
                    url: url,
                    shortened_url: url.substr(0, 40),
                    description: JSON.stringify(JSON.parse(error), null, 4),
                    dates: errors[error]
                });
            }
        }
        console.log(arr);
        data = arr;

        var testApp = angular.module('testApp', []);

        testApp.controller('tableCtrl', function ($scope) {
            $scope.data = data;
        });
    </script>
</head>
<body>
<div style="margin-left:50px">
    <a href="/stat/network-errors/api-server">/stat/network-errors/api-server</a><br>
    <a href="/stat/network-errors">/stat/network-errors</a><br>
    <a href="/stat/parsing-durations">/stat/parsing-durations</a><br>
    <a href="/stat/request-durations">/stat/request-durations</a>
</div>
<br>
<table ng-controller="tableCtrl" border="1" style="margin-left:50px">
    <tr>
        <th>url</th>
        <th>error</th>
        <th>date</th>
    </tr>
    <tr ng-repeat="error in data">
        <td>
            <a href="{{error.url}}" target="_blank">{{error.shortened_url}}</a>
        </td>
        <td>
            <pre>{{error.description}}</pre>
        </td>
        <td>
            <table>
                <tr ng-repeat="date in error.dates">
                    <td>{{date | date:'yyyy'}}</td>
                    <td>{{date | date:'MMMM'}}</td>
                    <td>{{date | date:'dd'}}</td>
                    <td>{{date | date:'hh:mm:ss'}}</td>
                </tr>
            </table>
        </td>
    </tr>
</table>
</body>
</html>